* {
   margin: 0;
}

body {
    background: radial-gradient( ellipse at center, #2c044d 0%, /* Roxo escuro */ #130129 70%, /* Roxo muito escuro */ #000000 100% /* Preto na borda */);
    min-height: 100vh;
    overflow: hidden;  
}
form{
    color: #fff;
    top: 50%;
    left: 50%;
    position: fixed;
    display: flex; 
    transform: translate(-50%, -50%);
    flex-direction: column;
    gap: 24px

}

input[type="email"]{
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 16px;
    /* Espacinho interno */
    padding: 10px 5px; 
    /* Tira aquela borda azul quando clica */
    outline: none; 
    /* Ocupa a largura do pai (.campo-formulario) */
    width: 100%;
}

input[type="password"]{
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 16px;
    /* Espacinho interno */
    padding: 10px 5px; 
    /* Tira aquela borda azul quando clica */
    outline: none; 
    /* Ocupa a largura do pai (.campo-formulario) */
    width: 100%;
}
