/* Configurações Gerais do Site */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
    margin: 0;
}
body{
    /*Plano de Fundo*/
   background: radial-gradient( ellipse at center, #2C044D 0%, /* Roxo escuro */ #130129 78%, /* Roxo muito escuro */ #000000 100% /* Preto na borda */);
}
h1 {
    color: #FFFFFF; 
    font-family: "VT323", monospace;
    overflow: hidden;
    padding: 0 20px;
    line-height: 2.5rem;
    font-size: 50px;
    letter-spacing: 3%;
    font-weight: 400;
}

.container {  
    height: 100vh;  
    overflow: hidden;  
    position: relative;
    pointer-events: none;
    

}

.estrelas {  
    position: absolute;  
    top: 0; left: 0;  width: 3px;  
    height: 3px;  border-radius: 50%;  
    box-shadow:     15px 15px #fff,    125px 35px #fff,    50px 80px #fff;
}
 
.start {
    color: #FFFFFF;
    background-color: #000000;
    font-size: 25px;
    /*borda do botão*/
    border-radius: 12px;
    border-color: #2c044d;
    border: 2px solid #ccc;
    cursor: pointer;
    font-family: "VT323", monospace;
    width: 328px;
    height: 58px;
    font-size: 50px;
    font-weight: 400;
    margin-top: 31px;
}

.conta-existente {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: underline;
    font-family: "VT323", monospace;
    font-size: 30px;
    font-weight: 400;

}

.login-registro{
    display: flex;
    flex-direction: column; /* Botão em cima, link embaixo */
    align-items: center;
    gap: 31px;
}

.boas-vindas{
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;

    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10; /* Garante que os botões sejam clicáveis */
    text-align: center;
}